@import '../../CustomVariables.scss';

#sidebar-container{
  background-color: $custom-grey-4;
  @include borderWRad1(1px, solid, $custom-grey-3, 4px);
  overflow: auto;
  
  @media (min-width: 768px){
    height: auto;
    min-height: 50vh;
  }

  @media (min-width: 992px){
    height: calc(100vh - 208px);
    min-height: 640px;
  }
}

#dataInfoContainer{
  @media (min-width: 768px){
    height: auto;
  }
  
  @media (min-width: 992px){
    height: 80px;
  }
}

#dataInfoText{
  @include fontStyle1($custom-black-2, $fontOpenSans, 18px, 25px, normal, 600);
  padding-left: 1rem;
  padding-right: 1rem;
}

#period-custom{
  @include fontStyle1($custom-black-2, $fontOpenSans, 14px, 19px, normal, 400);
  width: 100%;
  display: block;
  padding: 8px 12px;
  
}

#period-custom:hover{
  background-color: "#D3ECFF";
}