@import '../../CustomVariables.scss';

#tabNavigation{
  .nav-tabs{
    position: absolute;
    top: -36px;
    z-index: 1070;
    border-bottom: none;

    @media (min-width: 576px){
      margin-left: -12px;
    }

    @media (min-width: 768px){
      margin-left: -12px;
    }

    @media (min-width: 992px){
      margin-left: 18px;
    }

    .nav-link {
      background-color: $custom-white;
      @include fontStyle1($custom-black-1, $fontOpenSans, 14px, 19px, normal, 400);
      &:hover, &:focus{
        border-color: transparent;
      }
    }
    
    .nav-link.active{
      color: $custom-blue-1;
    }

    .nav-item{
      margin-right: 4px;
      border-radius: 4px 4px 0px 0px;
    }
  }
}

